body {
    margin: 0;
    font-family: serif;
    background: #9fc3cf;
    /* soft blue */
}

#container {
    display: grid;
    grid-template-columns: 220px 1fr;
    height: 100vh;
}

#topBar {
    display: flex;
    align-items: center;
    gap: 15px;
    position: relative;
}

/* Main content */
main {
    padding: 20px;
    overflow-y: auto;
}

#mainHeading {
    z-index: 999;
}

#flexbox {
    display: grid;
    gap: 15px;
}

.border {
    border: 3px solid #d9eaf0;
    background: #a8ccd6;
}

/* Visualization Styles */
#visualization {
    height: 100%;
    width: 100%;
    display: flex;
    align-items: flex-end;
    background: #f5f5f5;
    min-height: 400px;
    padding: 0;
    overflow: hidden;
}

.element {
    background-color: black;
    flex: 1;
    margin: 0;
}

.cursor {
    background-color: red;
}

.complete {
    background-color: green;
}

/* Button Styles */
/* Universal Button Styles */
.sortControl {
    background: #7faec0;
    border: none;
    color: black;
    cursor: pointer;
    transition: 0.2s;
    font-size: 1.5em;
}

.sortControl:hover {
    background: #6b9bab;
}

.hide {
    display: none;
}

/* Table Styles */
table {
    width: 100%;
    border-collapse: collapse;
    font-size: 0.95rem;
    border: 2px solid black;
}

th,
td {
    padding: 8px;
    text-align: left;
}

th {
    background: rgba(255, 255, 255, 0.25);
    text-align: center;
    border: 1px solid black;
}

.green {
    background-color: lightgreen;
}

.yellow {
    background-color: lightyellow;
}

.red {
    background-color: lightcoral;
}

/* Landscape Styles */
@media (orientation: landscape) {
    #mainHeading {
        margin-left: 0;
        transition-duration: 0.25s;
    }
}