/* Variables */
:root {
    --max-content-width: calc(100vh - 170px);
    --button-width-landscape-large: 40%;
    --button-width-landscape-small: 25%;
    --button-width-portrait: 15%;
}

/* General Styles */
.centered {
    text-align: center;
}

/* Body Styles */
body {
    background-color: #D1EAF0;
    margin: auto;
    font-size: 1.2em;
    text-align: center;
}

/* Div Styes */
#container {
    display: flex;
    justify-content: center;
    height: 100vh;
    background-color: #ADD8E6;
    overflow-y: auto;
}

#flexbox {
    display: flex;
    width: 100%;
    justify-content: center;
}

#visualization,
#options {
    width: 50%;
    max-height: var(--max-content-width);
    max-width: var(--max-content-width);
    aspect-ratio: 1/1;
}

#visualization {
    aspect-ratio: 1/1;
    padding: 0;
}

#information {
    margin-bottom: 20px;
}

/* Main Styles */
main {
    margin: auto;
    margin-left: 175px;
    height: 100vh;
    overflow-y: auto;
    flex: 1;
}

/* Nav Styles */
nav {
    width: 150px;
    position: fixed;
    top: 0px;
    left: 0;
    height: 100vh;
    overflow-y: auto;
    padding: 20px;
}

nav h3 {
    margin-top: 5px;
    margin-bottom: 0;
}

a {
    padding: 5px;
    display: block;
}

.currentAlgo {
    color: black;
}

/* Heading Styles */
h1 {
    text-align: center;
}

#mainHeading {
    height: 40px;
    margin-bottom: 10px;
}

.border {
    margin: 5px;
    padding: 5px;
    border: 5px solid white;
}

/* Array Styles */
#arrayDiv {
    background-color: white;
    display: flex;
    align-items: flex-end;
    height: 100%;
    width: 100%;
}

.element {
    background-color: black;
    margin: 0;
    padding: 0;
}

.complete {
    background-color: green;
}

.cursor {
    background-color: red;
}

/* Button Styles */
.sortControl {
    aspect-ratio: 1/1;
    width: 25%;
    margin: 2px;
}

.largeLandscape {
    width: 40%;
}

button {
    background-color: blue;
}

button:hover {
    background-color: darkblue;
}

.grayed {
    background-color: gray;
}

.grayed:hover {
    background-color: darkgrey;
}

.hide {
    display: none;
}

/* Heading Styles */
h1 {
    text-align: center;
}

/* Generation Styles */
#generation {
    display: flex;
    justify-content: space-evenly;
}

#generate, #generateGrayed {
    margin: auto;
}